body {
  background: rgb(105, 55, 129);
  background: linear-gradient(115deg, rgba(105, 55, 129, 1) 0%, rgba(69, 96, 167, 1) 50%, rgba(0, 165, 173, 1) 100%);
  height: 100vh;
  font-size: 3rem;
  color: white;
}
p{
  margin: 0;
}
.logo {

  width: 50%;
  margin: 0 auto;
  text-align: left;
  line-height: 2;
}

.myIcon {
    padding-top: 15px;
  width: 4rem;
  float: left;
  margin-right: 10px;
}
.f1{
  font-family: 'Baloo Paaji 2', cursive;
}
.f2{
   font-family: 'Fugaz One', cursive;
}
.f3{
  font-family: 'Lobster Two', cursive;
}
.f4{
  font-family: 'Gotu', sans-serif;
}
.f5{
  font-family: 'Ubuntu', sans-serif;
}
.f6{
  font-family: 'Varela Round', sans-serif;
}
